#listing
alias ls='ls --color=always'
alias l='ls -ltr --color=always'
alias la='ls -lart --color=always'
alias c='clear'
alias grep='grep --color'
# Extra tail piping is added coz $(history 10) is not wokring for some reason. 
alias h1='history | tail -n 10'
alias h2='history | tail -n 20'

#date
alias day='date +%a'
alias year='echo $(date +"%Y")'
alias age='echo $[$(year) - 1997]'

#git
alias gs='git status'
alias ga='git add'
alias gp='git push'
alias gc='git checkout'

#tools
alias k='kubectl'
alias tf='terraform'
